
$main-color: white;

body{
  font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
  background-image: url('cheap_diagonal_fabric.png');
}

h1{
  color: $main-color;
}

h3{
  color: $main-color;
}

.well img {
  width: 100%;
}

.index-recipe {
  height: 550px;
}
